.container {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}


.note-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 600px;
    padding-top: 10px;
}


.note-form input, 
.note-form textarea {
    border-radius: 10px;
    width: 100%;  /* Add this line to ensure they take up the full width of the form */
    box-sizing: border-box;  /* This ensures padding and border are included in width */
}
.btn {
    width: 100px;
    height: 50;
    background-color: hsl(104, 100%, 89%);
    border-radius: 10px;
}